.divAdd {
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    width: 400px;
    height: 200px;
    background-color: white;
    box-shadow: 5px 10px 15px #555;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(
        #f3fafe,
        #abccff,
        #a0e2fe
    );
}
form {
    width: auto;
}
header {
    align-items: center;
}
.input {
    width: 70%;
    border-radius: 5px;
    padding: 10px;
}
.button {
    align-items: center;
    border-radius: 5px;
    padding: 7px;
    width: 70px;
    background-color: #abccff;
    color: white;
    cursor: pointer;
}
.LiBtn {
    margin-top: 3px;
    border-radius: 5px;
    background-color: #abccff;
    color: white;
    cursor: pointer;
}

#divList {
    position: absolute;
    left:auto;
    top: 50px;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    background:white;
    box-shadow:  5px 10px 15px #555;
}
.divLi {
    display: flex;
    justify-content:space-between;
}